<%- include('partials/_header'); %>
<%if (data.p) {%>
    <h2 class="title"><%= data.p[0].catalogue %></h6>
<%}%>
<div class="container">
<%if (data.p) {%>
    
        <div class='prueba'>
            <%for(var i = 0; i<data.p.length; i++){ %>
            <div class=''>
                <a href='/product/<%= data.p[i].id %>'>
                    <img alt="Embedded Image" src='data:image/png;base64,<%= data.p[i].url %>'>
                </a>
                <h6><%= data.p[i].name %></h6> 
                <h6><%= data.p[i].description %></h6>  
                <h6><sup>₡</sup><%= data.p[i].price %></h6>
            </div>
            <%}%>
        </div>
    
<%}%> 
</div>

<%- include('partials/_footer'); %>