<%- include('partials/_header'); %>

<div class="container">
    <form action="insertProduct/insert" method="post">
        <div class="row mt-5">
            <div class="col-md-7">
                <div class="form-group m-3" >
                    <input type="text" name="name" placeholder="Name" class="form-control">
                </div>
                <div class="form-group m-3" >
                    <input type="text" name="description" placeholder="Description" class="form-control">
                </div>
                <div class="form-group m-3" >
                    <input type="text" name="information" placeholder="Information" class="form-control">
                </div>
                <div class="form-group m-3" >
                    <input type="text" name="price" placeholder="Price" class="form-control">
                </div>
            </div>
            <div class="col-md-5">
                <h6>Choose the catalogues that you want your product to be in</h3>
                <div class="containerT global">
                    <%if (data.c) {%>
                        <%for(var i = 0; i<data.c.length; i++){ %>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" name="catalogues" type="checkbox" id="" value="<%= data.c[i].id %>">
                                    <label class="form-check-label" for="inlineCheckbox1"><%= data.c[i].name %></label>
                                </div>
                        <%}%>
                    <%}%>
                </div>                    
            </div>
        </div>

        <h1>  </h1>
        

        
                <div id="carouselExampleIndicators" class="carousel slide carousel_sizes" data-bs-ride="carousel">
                    <div class="carousel-inner">
                        
                            <div class="carousel-item active cont_sizes">
                                <%if (data.t) {%>
                                    <div class="cont_sizes">
                                        <h6><%= data.t[0].name %></h6>
                                            <%for(var j = 0; j<data.a[0].length; j++){ %>
                                                <div class="form-check form-check-inline size">
                                                    <div class="put">
                                                        <input class="form-check-input" name="sizes" type="checkbox" id="" value="<%= data.a[0][j].id %>" >
                                                        <label class="form-check-label" for="inlineCheckbox1"> <%= data.a[0][j].size %>  </label>
                                                    </div>
                                                    <div class="put">
                                                        <input class="quantity" type="text" name="quantity" placeholder="Quantity" class="form-control" >
                                                    </div>
                                                </div>
                                        <%}%>
                                    </div>
                                <%}%>
                            </div>
                       
                            <%if (data.t) {%>
                                <%for(var i = 1; i<data.a.length; i++){ %>
                                        <div class="carousel-item cont_sizes">  
                                            <div class="cont_sizes">
                                                <h6><%= data.t[i].name %></h6>
                                                <%for(var j = 0; j<data.a[i].length; j++){ %>
                                                    <div class="form-check form-check-inline size">
                                                        <div class="put">
                                                            <input class="form-check-input" name="sizes" type="checkbox" id="" value="<%= data.a[i][j].size %>" >
                                                            <label class="form-check-label" for="inlineCheckbox1"> <%= data.a[i][j].size %>  </label>
                                                        </div>
                                                        <div class="put">
                                                            <input class="quantity" type="text" name="quantity" placeholder="Quantity" class="form-control" >
                                                        </div>
                                                    </div>
                                                <%}%>
                                            </div>     
                                        </div>
                                <%}%>
                            <%}%>
                        </div>
                       
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
        

            <!-- <div class="sizes">    
                <h6>Choose the sizes for your product</h3>
                <div class="containerT global">
                    <%if (data.s) {%>
                        <%for(var i = 0; i<data.s.length; i++){ %>
                            <div class="form-check form-check-inline size">
                                <div class="put">
                                    <input class="form-check-input" name="sizes" type="checkbox" id="" value="<%= data.s[i].id %>" >
                                    <label class="form-check-label" for="inlineCheckbox1"><%= data.s[i].size %></label>
                                </div>
                                <div class="put">
                                    <input class="quantity" type="text" name="quantity" placeholder="Quantity" class="form-control" >
                                </div>
                            </div>
                        <%}%>
                    <%}%>
                </div>
            </div>     -->

        <button type="submit" class="btn btn-primary m-3">
            SAVE PRODUCT
        </button>
    </form>
</div>

<%- include('partials/_footer'); %>